.navigation {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 23px 30px 50px 5px;
  
    .logo-container {
      height: 100%;
      width: 50px;
      position: relative;
      bottom: 15px;
    }
  
    .nav-links-container {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
  
      .nav-link {
        padding: 5px 5px;
        cursor: pointer;
      }
    }
  }
  